@page "/components"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation


<section class="p-4">
  <section>
    <p class="has-text-link has-text-weight-medium is-size-5">TABS LAYOUT 1</p>
    <_TabLayout1/>
  </section>
</section>

@code {

}
