<div class="modal is-active">
 <div class="modal-background"></div>
  <div class="modal-content" style="max-width: 360px;">
    <div class="box has-text-centered pt-5">
     <span class="icon is-large has-text-danger">
     	<i class="material-icons-outlined is-size-1">error_outline</i>
     </span>
     <div class="is-size-6 py-4 has-text-weight-semibold">
      @msgAccess
     </div>
   </div>
 </div>
</div>

@code{
	[Parameter]
	public	string msgAccess { get; set; }
}