.icon-wrapper { 
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 5px;
}


.icon-wrapper.is-success	{
	box-shadow: #def2f9 0px 8px 24px;
	background-color: #02a9f1 ;
}
.icon-text.is-success {
	background-color: #def2f9;
}
.is-success {
	font-weight: 500;
	color: #02a9f1;
}

.icon-wrapper.is-warning	{
	box-shadow: #fef1de 0px 8px 24px;
	background-color: #ffce82 ;
}
.icon-text.is-warning {
	background-color: #fef1de;
}
.is-warning {
	font-weight: 500;
	color: #333;
}

.icon-wrapper.is-danger	{
	box-shadow: #ffdfe0 0px 8px 24px;
	background-color: #ff3f40 ;
}
.icon-text.is-danger {
	background-color: #ffdfe0;
}
.is-danger {
	font-weight: 500;
	color: #ff3f40;
}
