@inject IJSRuntime JSRuntime

<section class="modal is-active p-2">
  <div class="modal-background"></div>
  <section class="modal-card">
    <section class="modal-card-head">
      <div class="modal-card-title">
        Khóa bảng công
      </div>
      <a class="delete is-medium" @onclick="Cancel"></a>
    </section>
    <section class="modal-card-body">
      Bạn đang thực hiện khóa bảng công.
      <br>
      Sau khi khóa sẽ không được chỉnh sửa hay xoá.
      <p class="pt-3 has-text-danger">
        Bạn có chắc chắn khóa bảng công?
      </p>
    </section>
    <section class="modal-card-foot is-right">
      <a class="button" @onclick="Cancel">
        <span class="icon">
          <i class="material-icons-round is-size-6">close</i>
        </span>
        <span>Hủy</span>
      </a>
      <a class="button is-danger" @onclick="Update">
        <span class="icon">
          <i class="material-icons-round is-size-6">lock</i>
        </span>
        <span>Khóa</span>
      </a>
    </section>
  </section>
</section>

@code {
  [Parameter]
  public EventCallback<bool> OnUpdate { get; set; }

  private async Task Cancel()
  {
    await OnUpdate.InvokeAsync(false);
  }

  private async Task Update()
  {
    await OnUpdate.InvokeAsync(true);
  }
}