@inject IJSRuntime JSRuntime

<div class="inner_section p-4 h-full">
  <p class="has-text-weight-semibold font_14 mb-5">
    Biểu đồ tiến độ của cây KPIs
  </p>

  <p class="ml-3 has-text-weight-semibold">%</p>
  <div style="height: 190px;">
    <canvas id="chartLine" height="190"></canvas>
  </div>
</div>

@code {

}
