@if (kpisRoot != null)
{
  var progress = Math.Round(KpisService.GetProgress(database, kpisRoot, kpisRoot.id), 1);

  <div class="inner_section p-4 h-full">
    <p class="has-text-weight-semibold font_14">
      Tiến độ hiện tại của cây KPIs
    </p>
    <div class="mt-5">
      <div class="report_progress" style="background: radial-gradient(closest-side, #FAFAFA 60%, transparent 0% 100%), conic-gradient(#FF5449 @progress%, #FFB4A930 0);">
        <p class="is-size-6 has-text-weight-medium" style="color: #FF5449;">@($"{progress}%")</p>
      </div>
    </div>
    <div class="mt-5">
      <span class="icon-text is-justify-content-center is-fullwidth">
        <span class="icon">
          <span class="material-icons-outlined is-size-6">
            date_range
          </span>
        </span>
        <span class="font_14">
          @($"{new DateTime(kpisRoot.start_date).ToString("dd'/'MM'/'yyyy")} - {new DateTime(kpisRoot.end_date).ToString("dd'/'MM'/'yyyy")} ({KpisService.CheckDate(kpisRoot.end_date)})")
        </span>
      </span>
    </div>
  </div>
}

@code {
  [Parameter]
  public List<KpisModel> database { get; set; } = new();
  [Parameter]
  public KpisModel kpisRoot { get; set; }
}
