@using System.Threading;
@inherits LayoutComponentBase
@inject NavigationManager navigation
@inject IJSRuntime JSRuntime
@implements IDisposable

<CascadingValue Value="this">
  @if (!loading)
  {
    @if (string.IsNullOrEmpty(link) || link.StartsWith("password"))
    {
      <main id="login" style="overflow: hidden">
        <section class="login_fr">
          @Body
        </section>
        <section class="login_bg">
          <div class="carousel">
            <BlazorSlickCarousel Configurations="configurations">
              <BlazorSlickCarouselContent>
                @foreach (var item in slides)
                {
                  <div class="item">
                    <div class="item_image">
                      <img src="@item.Key" alt="img" />
                    </div>
                    <div class="item_desc">
                      @((MarkupString)item.Value)
                    </div>
                  </div>
                }
              </BlazorSlickCarouselContent>
            </BlazorSlickCarousel>
            <div class="dots"></div>
            <div class="arrows"></div>
          </div>
        </section>
      </main>
    }
    else
    {
      <main>
        @Body
      </main>
    }
    @if (consentCookie)
    {
      <OnetezSoft.Pages.CookieConsent />
    }
  }
  <p class="fastdo_version">@("v" + LoginService.GetVersion())</p>
</CascadingValue>

@code {
  public WMBSCInitialSettings configurations;
  private Dictionary<string, string> slides = new();
  private string link = string.Empty;
  private bool loading = true;

  public bool consentCookie = false;

  private CancellationTokenSource jsCancel = new CancellationTokenSource();
  private Timer timer;

  protected override void OnInitialized()
  {
    slides.Add("/images/login/1.png", "Doanh nghiệp dễ dàng thiết lập và theo dõi mục tiêu hiệu quả");
    slides.Add("/images/login/2.png", "Nhân sự tăng hiệu suất vượt bậc khi dễ dàng thiết lập kế hoạch<br />công việc và tạo động lực làm việc vui vẻ hàng ngày");
    slides.Add("/images/login/3.png", "Tương tác và thấu hiểu giữa những thành viên trong tổ chức.<br />Tạo động lực và thúc đẩy phát triển tổ chức");
    slides.Add("/images/login/4.png", "Không chỉ là làm việc, Fastdo cung cấp không gian cho phép<br />mọi người phấn đấu và tận hưởng những thành tựu");

    configurations = new WMBSCInitialSettings
      {
        arrows = true,
        dots = true,
        autoplay = true,
        infinite = true,
        slidesToShow = 1,
        slidesToScroll = 1,
        appendDots = ".dots",
        appendArrows = ".arrows",
        prevArrow = "<a class='material-icons-round'>chevron_left</a>",
        nextArrow = "<span class='material-icons-round'>chevron_right</span>"
      };
  }

  protected override void OnParametersSet()
  {
    link = navigation.Uri.Replace(navigation.BaseUri, "");
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (loading)
    {
      try
      {
        consentCookie = await JSRuntime.InvokeAsync<bool>("checkCookie", jsCancel.Token);

        loading = false;
        StateHasChanged();

        await Task.Delay(30000).ContinueWith(arg =>
        {
          if (jsCancel != null && loading == true)
          {
            loading = false;
            jsCancel?.Cancel();
          }
        });
      }
      catch
      {

      }
    }
  }

  public void Dispose()
  {
    try
    {
      loading = false;

      jsCancel?.Cancel();
      jsCancel?.Dispose();
    }
    catch (Exception ex)
    {
      return;
    }
  }
}