@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<section class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-head">
      <div class="modal-card-title">Thông báo</div>
    </div>
    <div class="modal-card-body">
      <div class="content">
        Bạn không đủ quyền hạn để thao tác với chức năng này !
        <br />
        Liên hệ Admin để được cấp thêm quyền.
      </div>
    </div>
    <div class="modal-card-foot">
      <a class="button" onclick="goBack()">Quay lại</a>
    </div>
  </div>
</section>