﻿﻿<section class="modal is-active">
  <div class="modal-background shadown"></div>
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</section>

@code {

}