<section class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column" style="gap: 10px; min-height: calc(100vh - 200px); padding: 0 50px;">
  <img class="image" src="/images/no-mobile.png" alt="IMG" />
  <div class="is-flex is-flex-direction-column">
    <p class="has-text-centered font_14 has-text-weight-medium">Hiện tại chức năng này chỉ hỗ trợ trên desktop. Rất xin lỗi vì sự bất tiện này!</p>
  </div>
</section>