@page "/client"
@layout LayoutAdmin
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

<section class="p-4 is-flex" style="height: 90vh; align-items: center; justify-content: center;">
  <div class="has-text-centered has-text-weight-bold is-uppercase">
    Quản lý tổ chức - giao dịch
  </div>
</section>

@code {
  [CascadingParameter]
  public LayoutAdmin Layout { get; set; }

  private string _title = "Khách hàng - Trang chủ";
}